on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: Integration Tests

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.85

      - name: Install capnp dependencies (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y capnproto libcapnp-dev

      - name: Install capnp dependencies (macOS)
        if: matrix.os == 'macos-latest'
        run: brew install capnp

      - name: Install cargo-nextest
        run: cargo install cargo-nextest --version 0.9.100 --locked

      - name: Integration Tests
        run: |
         RUST_BACKTRACE=1 RUST_LOG=debug cargo nextest run --manifest-path=integration-tests/Cargo.toml --nocapture